* {
    margin: 0px
}
header {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}
h1 {
    color: white;
}
aside {
    
    width: 400px;
}
h3 {
    
    color: white;
}
.budgetValue {
    color: white;
}
#budgetArea {
    
    display: flex;
    justify-content: space-between;
}
.budgetSections {
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
.budgetValue {
    
    width: 100px;
    border: solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.budgetTitle {
    display: flex;
    justify-content: center;
}
/* ------------------------------------------------------------------------------------------------ */
body {
    color: white;
    background-color: black;
    background-image: url("images/capstoneBackground.jpg");
    background-size: cover;
}
main {
    display: flex;
    justify-content: space-around;

}
#inputSection {
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
#setBudgetSection {
    background-color: rgba(0, 0, 20, 0.5);
    border: solid rgba(255, 255, 255, 0.17);
    
    border-radius: 10px;
    height: 100px;
    width: 450px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
h2 {
    width: 125px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#setBudgetForm {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* display: flex;
    justify-content: space-around; */
}
#planSection {
    background-color: rgba(0, 0, 20, 0.5);
    border: solid rgba(255, 255, 255, 0.17);
    border-radius: 10px;
    height: 350px;
    width: 450px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#planForm {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 290px;
}

input {
    background-color: black;
    border: solid white;
    border-radius: 10px;
    color: white;
    height: 20px;
}
button {
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 10px;
    margin-left: 10px;
    width: 100px;
    height: 30px;
}
.inputDiv {
    display: flex;
    justify-content: flex-start;
    width: 400px;
}
#details {
    width: 300px;
    height: 100px;

    background-color: black;
    border: solid white;
    border-radius: 10px;
    color: white;
}
label {
    width: 50px;
}
#submitPlanBtn {
    margin-left: 50px;
}

/* ------------------------------------------------------------------------------------------------- */

#displaySection {
    border: solid red;
    width: 450px;

    background-color: rgba(0, 0, 20, 0.5);
    border: solid rgba(255, 255, 255, 0.17);
    border-radius: 10px;
}
ul::-webkit-scrollbar {
 width: 20px;
}
ul::-webkit-scrollbar-track {
    background: rgba(0, 0, 20, 0);
}
ul::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 20, 0);
    border: solid white;
    border-radius: 10px;
    
}

ul {
    width: 410px;
    height: 490px;
    overflow-y: scroll;
}
li {
    border: solid white;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 175px;
    width: 365px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
p {
    width: 325px;
    display: flex;
    justify-content: center;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    
    
}

/* --------------------- mobile settings -------------------------------------------*/

@media only screen and (max-width: 920px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    #inputSection {
        margin-bottom: 30px;
    }
    
}
